---
layout: page
<!-- title: Venture Capital Index -->
title: TheContentCreators
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div> <!-- class="container">-->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="block">
	<h1 class="animated fadeInUp"> <b> Be part of the ever-growing content creators community</b></h1> <!-- FIND INVESTORS THAT ARE RIGHT FOR YOUR STARTUP</h1> -->
	<p class="animated fadeInUp"> <b>Whether you're a content creator or are looking for one, join us for free and get exposed to better opportunities! </b></p> <!--Helping startups target VCs and Angels that offer the best founder-investor fit.</p> -->
	<br/>	
<!--<a class="btn btn-default btn-call-to-action btn-lg" style = "font-size: 24px font-family: 'roboto'" href="#" >SIGNUP HERE</a>
-->

<a class="typeform-share button; animated fadeInUp" href="https://barma7210.typeform.com/to/fixEMz" data-mode="drawer_right" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Sign up for details!</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

		</div>
	</div>
     </div>
   </div>
	</section>
	<!-- Wrapper Start -->
<!--	<section id="intro">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-7 col-sm-12">
		<div class="block">
		  <div class="section-title">
		    <h2><a id ="about-us">Who are we?</a></h2>
		  </div>
	 	 <p> We are TheVCIndex!! <br/> We aim to simplify fund-raising process for startup founder by providing a comprehensive list of venture capital firms with all the relevant details. We realise how tedious finding, shortlisting and reaching out to the right VCs can get for the founders. TheVCIndex hopes to make this easier because implementing an idea and finding product-market fit is hard enough, getting access to capital shouldn't be.</p>	
	</div>
	      </div><!-- .col-md-7 close -->
	      <div class="col-md-5 col-sm-12">
		<div class="block">
		  <img src="img/wrapper-img.png" alt="Img">
		</div>
	      </div><!-- .col-md-5 close -->
	    </div>
	  </div>
	</section>
-->
	<section id="feature">
	<div class="container">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-6">
	      <h2>Who are we?</h2>
	      <p> We, at TheContentCreators, want to create a community for all those people who passionately and persistently create content across different platforms (social media, blogs, etc.) or different modes of media (audio, video, etc). We understand that your skills are unique and can help make various brands and companies successful. Through this community, we want to acknowledge all you creators out there and provide you visibility and better opportunities.
</p>
	<a class="typeform-share button; animated fadeInUp" href="https://barma7210.typeform.com/to/fixEMz" data-mode="drawer_right" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Let's work together!</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
	    </div>
	  </div>
	</div>
	</section>

	<!-- Service Start -->
	<section id="service">
	  <div class="container">
	    <div class="row">
		<h2> <b>Why join us?</b> </h2>
	      <div class="section-title">
		<p>Our team is working on building a platform where content creators and brands can come together and create a mutually beneficial ecosystem.</p>
	      </div>
	    </div>
	    <div class="row ">
		<h3> What's in it for creators? </h3>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="icon ion-coffee"></i>
		  <h4>Peer connection</h4>
		  <p>Opportunity to be part of and benefit from the content creators ecosystem </p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-earth"></i>
		  <h4>Exposure</h4>
		  <p>Share your work and get exposed to new gigs around the world that are relevant to you</p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-leaf"></i>
		  <h4>Paid gigs</h4>
		  <p>Prove your mettle to the brands looking to benefit from your work and get paid for your contribution</p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-compass"></i>
		  <h4>Upskilling opportunities</h4>
		  <p>Learn more by staying connected with the content creators community members </p>
		</div>
	      </div>
	</div>
	<div class ="row">
	      <h3> What's in it for brands? </h3>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-planet"></i>
		  <h4>Authentic content</h4>
		  <p>Collaborate with passionate creators to get the best original content</p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-headphone"></i>
		  <h4>Access to diverse creators</h4>
		  <p>Find creators for every target audience on every social platform</p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-leaf"></i>
		  <h4>Save money</h4>
		  <p>Get diverse creative assets at less than 50% the cost </p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-image"></i>
		  <h4>Experiment with content</h4>
		  <p> Try out different creators to select one that works best for you</p>
		</div>
	      </div>
	    </div>
	  </div>
	</section>
	<!-- Call to action Start -->
<!--	<section id="call-to-action">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
		<div class="block">
		  <h2>We design delightful digital experiences.</h2>
		  <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
		  <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
		</div>
	      </div>
	    </div>
	  </div>
	</section>
-->	<!-- Content Start -->
	<section id="testimonial">
	  <div class="container">
	    <div class="row">
	      <div class="section-title text-center">
		<h2>Fun Facts About Us</h2>
			      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-6">
	<!--	{% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %} -->
	<br/><br/><br/><br/><br/><br/>
	<p> We are just getting started and are excited about the journey ahead, We hope many of you will have faith in our goal and join us towards building a better future for the growing content creator community.</p>
	</div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <a href="{{site-baseurl}}/blog">
	    <b>Blogs</b>
            <div>
               <!-- <img src="img/cotation.png" alt="IMG"> -->
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                 <!-- <img src="{{ tm.image }}" alt="Pepole"> -->
                  <p><span>{{ tm.title }}</span><b> {{ tm.name }} </b></p>
                </div>
            </div>
	    </a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> 
