---
layout: page
<!-- title: Venture Capital Index -->
title: TheContentCreators
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div> <!-- class="container">-->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="block">
	<h1 class="animated fadeInUp"> <b> BE PART OF THE EVER-GROWING CONTENT CREATORS COMMUNITY</b></h1> <!-- FIND INVESTORS THAT ARE RIGHT FOR YOUR STARTUP</h1> -->
	<p class="animated fadeInUp"> <b>If you're a content creator or are looking for one. Join us! </b></p> <!--Helping startups target VCs and Angels that offer the best founder-investor fit.</p> -->
	<br/>	
<!--<a class="btn btn-default btn-call-to-action btn-lg" style = "font-size: 24px font-family: 'roboto'" href="#" >SIGNUP HERE</a>
-->

<a class="typeform-share button; animated fadeInUp" href="https://barma7210.typeform.com/to/fixEMz" data-mode="drawer_right" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Sign up here</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

		</div>
	</div>
     </div>
   </div>
	</section>
	<!-- Wrapper Start -->
	<section id="intro">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-7 col-sm-12">
		<div class="block">
		  <div class="section-title">
		    <h2><a id ="about-us">About Us</a></h2>
		  </div>
		 <!-- <p> We are TheVCIndex!! <br/> We aim to simplify fund-raising process for startup founder by providing a comprehensive list of venture capital firms with all the relevant details. We realise how tedious finding, shortlisting and reaching out to the right VCs can get for the founders. TheVCIndex hopes to make this easier because implementing an idea and finding product-market fit is hard enough, getting access to capital shouldn't be.</p> --> 
		<p> We, at TheContentCreators, are aiming to build the largest community of content creators, who passionately and persistently create content across different platforms such as social media, blogs, or a variety of video and audio content. We realise that your passion is unique and plays a vital role in the journey to success for many brands andcompanies. This is why, we want to acknowledge all you creators out there and provide you greater visibility as well as opportunity.
		</p>
		</div>
	      </div><!-- .col-md-7 close -->
	      <div class="col-md-5 col-sm-12">
		<div class="block">
		  <img src="img/wrapper-img.png" alt="Img">
		</div>
	      </div><!-- .col-md-5 close -->
	    </div>
	  </div>
	</section>



<!--
	<section id="feature">
	<div class="container">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-6">
	      <h2>WE BELIEVE IN GREAT IDEAS</h2>
	      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	      <a href="#" class="btn btn-view-works">View Works</a>
	    </div>
	  </div>
	</div>
	</section>
-->
	<!-- Service Start -->
<!--	<section id="service">
	  <div class="container">
	    <div class="row">
	      <div class="section-title">
		<h2>Our Services</h2>
		<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
	      </div>
	    </div>
	    <div class="row ">
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="icon ion-coffee"></i>
		  <h4>Branding</h4>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-compass"></i>
		  <h4>Web Design</h4>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-image"></i>
		  <h4>App Design</h4>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-bug"></i>
		  <h4>Start Up</h4>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-headphone"></i>
		  <h4>Logo Design</h4>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-leaf"></i>
		  <h4>Development</h4>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-planet"></i>
		  <h4>Brand Identity</h4>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <i class="ion-earth"></i>
		  <h4>Brand Identity</h4>
		  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
		</div>
	      </div>
	    </div>
	  </div>
	</section>
-->	<!-- Call to action Start -->
<!--	<section id="call-to-action">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
		<div class="block">
		  <h2>We design delightful digital experiences.</h2>
		  <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
		  <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
		</div>
	      </div>
	    </div>
	  </div>
	</section>
-->	<!-- Content Start -->
<!--	<section id="testimonial">
	  <div class="container">
	    <div class="row">
	      <div class="section-title text-center">
		<h2>Fun Facts About Us</h2>
		<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-6">
		{% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> -->
