---
layout: page
title: The Content Creators Community
description: The content creators community is a group of passionate, smart and helpful creators, from across the world, who have a wealth of knowledge in growing followers and partnering with brands etc., which can help members not only learn new skills but also monetize the work they enjoy doing
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div> <!-- class="container">-->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="block">
	<h1 class="animated fadeInUp"> <b> Join The Content Creators Community!</b></h1>
	<p class="animated fadeInUp"> <b> You've been working hard - come be part of a community that can help you in your journey</b></p>
	<br/>
        <div class ="type">
	<a class="typeform-share button; animated fadeInUp" href="https://barma7210.typeform.com/to/fixEMz" data-mode="drawer_right" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Open Sans,sans-serif;font-size:15px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Sign up for free!</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
	</div>
	</div>
	</div>
     </div>
   </div>
</section>
	<!-- Wrapper Start -->
	<!-- Service Start -->
	<section id="persona">
 	 <div class="container">
	    <div class="row">
		<h2> Who should join The Content Creators Community?</h2> <br/><br/>
	    </div> 
	   <div class ="row"> 
		<div class="col-sm-6 col-md-4">
		  <div class="service-item">
		    <img src="../img/entertainer.svg"/>
		    <h4>Entertainers</h4>
		  <p>You create videos, memes, live videos etc. for entertaining your audience</p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-4">
		<div class="service-item">
		    <img src="../img/educator.svg"/>
		  <h4>Educators</h4>
		  <p> You specialize in blog posts, 'how to' guides, case-studies, newsletters, and ebooks etc.</p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-4">
		<div class="service-item">
		    <img src="../img/visualizer.svg"/>
		  <h4>Visualizers</h4>
		  <p> You are visually creative and can create impactful infographics or love photography</p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-4">
		<div class="service-item">
		    <img src="../img/marketer.svg"/>
		  <h4>Marketers</h4>
		  <p>You help brands convert customers by specializing in content marketing, SEO, social-media marketing etc. </p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-4">
		<div class="service-item">
		    <img src="../img/entrepreneur.svg"/>
		  <h4>Entreprenuers</h4>
		  <p>You are on your growth hacking journey etc. </p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-4">
		<div class="service-item">
		    <img src="../img/brands.svg"/>
		  <h4>Brands</h4>
		  <p>You are searching for relevant content creators, marketers or influencers</p>
		</div>
	      </div>
	    </div>
	</div>
	</section>
	<section id="intro">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-5 col-sm-12"> 
		<div class="block">
		  <div class="section-title">
		    <h2>Why join us?</h2>
		  </div>
		<p>Our team is working on building a platform where content creators and brands can come together and create a mutually beneficial and sustainable ecosystem.</p>
	</div>
	     </div> <!-- .col-md-7 close -->
	   </div>
	  </div>
	</section>
	<section id="service">
 	 <div class="container">
	   <div class ="row">
                <h2>What's in it for creators?</h2>
		<div class="col-sm-6 col-md-3">
		  <div class="service-item">
		   <img src="img/connection.svg"/>	
		    <h4>Peer connection</h4>
		  <p>Opportunity to be part of and benefit from the content creators ecosystem</p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <img src="img/exposure.svg"/>
		  <h4>Exposure</h4>
		  <p>Opportunity to share your work and learn from or get inspired by others portfolios</p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <img src="img/gig.svg"/>
		  <h4>Paid gigs</h4>
		  <p>Prove your mettle to the brands looking to benefit from your work and get paid for your contribution</p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <img src="img/upskill.svg"/>
		  <h4>Upskilling opportunities</h4>
		  <p>Learn more by staying connected with the content creators community members </p>
		</div>
	      </div>
	</div>
	<div class ="row">
	      <h2> What's in it for brands? </h2>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <img src="img/content.svg"/>
		  <h4>Authentic content</h4>
		  <p>Collaborate with passionate creators to get the best original content</p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <img src="img/repo.svg"/>
		  <h4>Access to diverse creators</h4>
		  <p>Find creators for every target audience on every social platform</p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <img src="img/money.png"/>
		  <h4>Save money</h4>
		  <p>Get diverse creative assets at less than 50% the cost </p>
		</div>
	      </div>
	      <div class="col-sm-6 col-md-3">
		<div class="service-item">
		  <img src="img/experiment.svg"></i>
		  <h4>Experiment</h4>
		  <p> Try out different creators to select one that works best for you</p>
		</div>
	      </div>
	    </div>
	  </div>
	</section>
	<section id="feature">
	<div class="container">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-6">
	      <h2>Who are we?</h2>
	      <p> We, at The Content Creators, want to create a community for all those people who passionately and persistently create content across different platforms (social media, blogs, etc.) or different modes of media (audio, video, etc). We understand that your skills are unique and can help make various brands and companies successful. Through this community, we want to acknowledge all you creators out there and provide you visibility and better opportunities. </p>
	<a class="typeform-share button; animated fadeInUp" href="https://barma7210.typeform.com/to/fixEMz" data-mode="drawer_right" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,sans-serif;font-size:15px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Let's work together!</a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
	    </div>
	  </div>
	</div>
	</section>
	<!-- Call to action Start -->
<!--	<section id="call-to-action">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
		<div class="block">
		  <h2>We design delightful digital experiences.</h2>
		  <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
		  <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
		</div>
	      </div>
	    </div>
	  </div>
	</section>
-->	<!-- Content Start -->
	<section id="testimonial">
	  <div class="container">
	    <div class="row">
	      <div class="section-title">
		<h2>Our journey</h2>
	      </div> 
	    </div>
	    <div class="row">
	      <div class="col-md-6">
	<!--	{% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %} -->
	<p> We are just getting started and are excited about the journey ahead. We hope many of you will have faith in our goal and join us towards building a better future for the growing content creator community.</p>
	</div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
 		<b> Blogs </b>
 		<a href="{{site-baseurl}}/{{ tm.link }}"><p>{{ tm.testimonial }}</p></a> 
                <div class="user">
		    <p><span>{{ tm.title }}</span><b> {{ tm.name }} </b></p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section> 
